<!--
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <- Enable responsiveness on mobile devices->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <- CSS ->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <- Icons ->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <- RSS ->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <- Google Analytics ->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-146052-15', 'getpoole.com');
    ga('send', 'pageview');
  </script>
</head>
-->
<!-- OAK HEAD -->

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- <title>Oak</title> -->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

    <meta name="description" content="Design the future" />

    <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico" />

    <link href="http://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css" data-noprefix />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css" data-noprefix />
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/ionicons.min.css?v=f4e4fd26b0" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/magnific-popup.css?v=f4e4fd26b0" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/highlight.min.css?v=f4e4fd26b0" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/theme.css?v=f4e4fd26b0" />
         
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    <link rel="canonical" href="http://oaktheme.herokuapp.com/">
    <link rel="next" href="http://oaktheme.herokuapp.com/page/2/">
    -->

    <link rel="canonical" href="http://blog.hackpod.io/" />
    <link rel="next" href="http://blog.hackpod.io/page/2/" />

    <meta property="og:site_name" content="hackPOD" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="hackPOD" />
    <meta property="og:description" content="Design the future" />
    <meta property="og:url" content="http://blog.hackpod.io/" />
    <meta property="og:image" content="https://djokicstefan-ghost-bucket.s3.amazonaws.com/2015/May/photo_1429482713125_ff096be02ffe-1430757459467.jpg" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="hackPOD" />
    <meta name="twitter:description" content="Design the future" />
    <meta name="twitter:url" content="http://blog.hackpod.io/" />
    <meta name="twitter:image:src" content="https://djokicstefan-ghost-bucket.s3.amazonaws.com/2015/May/photo_1429482713125_ff096be02ffe-1430757459467.jpg" />

<!-- INSPECTLET.JS + FITVIDS.JS -->

    <script src="http://cdn.inspectlet.com/inspectlet.js" id="inspsync" async="" type="text/javascript"></script><script src="//www.google-analytics.com/analytics.js" async=""></script>

    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "Oak",
    "url": "http://oaktheme.herokuapp.com/",
    "image": "https://djokicstefan-ghost-bucket.s3.amazonaws.com/2015/May/photo_1429482713125_ff096be02ffe-1430757459467.jpg",
    "description": "Ghost theme just for You"
}
    </script>

    <meta name="generator" content="Ghost 0.6" />
    <link rel="alternate" type="application/rss+xml" title="Oak" href="http://oaktheme.herokuapp.com/rss/" />
    
<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 1944080768]);
(function() {
function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
if (window.attachEvent) window.attachEvent('onload', __ldinsp);
else window.addEventListener('load', __ldinsp, false);
})();
</script>
<!-- End Inspectlet Embed Code -->
     
<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}
</style>

</head>