
<!--
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
--> 

<button class="oak-navigation-button ion-navicon-round">MENU</button> 
<nav class="oak-navigation" role="navigation">
  <ul>

    <li class="nav-home nav-current" role="presentation">
      <a class="oak-uppercase" href="/">Home</a>
    </li>
    <li class="nav-about" role="presentation">
      <a class="oak-uppercase" href="/about/">About</a>
    </li>
    <li class="nav-documentation" role="presentation">
      <a class="oak-uppercase" href="/documentation/">Documentation</a>
    </li>


  </ul>
</nav>
   
  
<header role="banner" class="oak-header 
  " style="background-image: url(https://djokicstefan-ghost-bucket.s3.amazonaws.com/2015/May/photo_1429482713125_ff096be02ffe-1430757459467.jpg)">
  <span class="oak-overlay"></span>
  <div class="oak-inner"> 
    <div>
        <a href="http://oaktheme.herokuapp.com"><img class="oak-header-logo" src="https://djokicstefan-ghost-bucket.s3.amazonaws.com/2015/May/blogo-1430743439410.png" alt="Oak"></a>
      <h1 class="oak-header-title">
        <a href="http://oaktheme.herokuapp.com">Oak</a>
      </h1>
      <hr>
      <p>Ghost theme just for You</p>
    </div>
  </div>  
  <div class="oak-get-in-touch">
  <ul>
    <li><a href="#" class="oak-button oak-button-inverse oak-button-social ion-social-twitter"></a></li>
    <li><a href="#" class="oak-button oak-button-inverse oak-button-social ion-social-facebook"></a></li>
    <li><a href="#" class="oak-button oak-button-inverse oak-button-social ion-social-googleplus"></a></li>
    <li><a href="#" class="oak-button oak-button-inverse oak-button-social ion-social-linkedin"></a></li>
    <li><a href="#" class="oak-button oak-button-inverse oak-button-social ion-social-instagram"></a></li>    


  </ul>
</div></header>