<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}</title>
    <meta name="description" content="{{site.tagline}}" />

    <link rel="shortcut icon" href="{{site.favicon}}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css?v=070bb35e4d"/>
    <!--<link rel="stylesheet"  type="text/css" href="http://oaktheme.herokuapp.com/assets/css/highlight.min.css?v=070bb35e4d" />-->
    <link rel="stylesheet"  type="text/css" href="public/css/theme.css?v=070bb35e4d" />
         
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="canonical" href="{{site.url}}/" />
    <link rel="next" href="{{site.url}}/page/2/" />
    
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.tagline}}" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:image" content="{{site.image}}" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:description" content="{{site.tagline}}" />
    <meta name="twitter:url" content="{{site.url}}" />
    <meta name="twitter:image:src" content="{{site.image}}" />
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "hackpod",
    "url": "{{site.url}}",
    "image": "{{site.image}}",
    "description": "{{site.tagline}}"
}
    </script>

    <meta name="generator" content="Jekyll" />
    <link rel="alternate" type="application/rss+xml" title="hackPOD" href="{{site.url}}/rss/" />
<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 788227707]);
(function() {
function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
if (window.attachEvent) window.attachEvent('onload', __ldinsp);
else window.addEventListener('load', __ldinsp, false);
})();
</script>
<!-- End Inspectlet Embed Code -->
     
</head>
<body class="bulbul-alizarin home-template">

    <button class="bulbul-navigation-button ion-navicon-round">MENU</button>	
<nav class="bulbul-navigation" role="navigation">
	<ul>

		<li class="nav-home nav-current" role="presentation">
			<a class="bulbul-uppercase" href="/">Home</a>
		</li>
		<li class="nav-about" role="presentation">
			<a class="bulbul-uppercase" href="/about.html">About</a>
		</li>
		<li class="nav-documentation" role="presentation">
			<a class="bulbul-uppercase" href="http://docs.hackpod.io/">Documentation</a>
		</li>
		<li class="nav-indiegogo" role="presentation">
			<a class="bulbul-uppercase" href="{{site.indiegogo}}">Buy a hackPOD</a>
		</li>


	</ul>
</nav>
    
	
<header  role='banner' class="bulbul-header 
	" style="background-image: url({{site.image}})">
	<span class="bulbul-overlay"></span>
	<div class="bulbul-inner">	
		<div>
				<a href="{{site.url}}"><img class="bulbul-header-logo" src="{{site.logo}}" alt="{{site.title}}"></a>
			<h1 class="bulbul-header-title">
				<a href="{{site.url}}">{{site.title}}</a>
			</h1>
			<hr>
			<p>{{site.tagline}}</p>
		</div>
	</div>	
	<div class="bulbul-get-in-touch">
	<ul>
		<li><a href="#" class="bulbul-button bulbul-button-inverse bulbul-button-social ion-social-twitter"></a></li>
		<li><a href="#" class="bulbul-button bulbul-button-inverse bulbul-button-social ion-social-facebook"></a></li>
		<li><a href="#" class="bulbul-button bulbul-button-inverse bulbul-button-social ion-social-googleplus"></a></li>
		<li><a href="#" class="bulbul-button bulbul-button-inverse bulbul-button-social ion-social-linkedin"></a></li>
		<li><a href="#" class="bulbul-button bulbul-button-inverse bulbul-button-social ion-social-instagram"></a></li>		


	</ul>
</div></header>

<main role="main" class="bulbul-main">
	<span class="bulbul-vertical-separator"></span>
	<header>
		<a target="_blank" href="{{site.url}}/rss" class="bulbul-button bulbul-subscribe ion-social-rss-outline" title="RSS Feed">
			<span class="bulbul-hide-on-mobile">Subscribe</span>
		</a>
		<form class="bulbul-post-search" id="search-input" role="search">
			<input type="text" class="bulbul-search" placeholder="Search posts here">
			<span class="bulbul-search-icon ion-ios-search"></span>
			<div class="bulbul-search-results" id="results-container" >
<!--				<p class="results-container"></p>   -->
			</div>
		</form>
	</header>
	<div class="bulbul-articles-columns">

	<div class="bulbul-articles-column">
	{% for post in paginator.posts %}	
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
		
		<article class="bulbul-article  {% if thecycle == 'even' %}bulbul-hide-on-desktop{% endif %} post tag-getting-started" role="article" itemscope itemtype="http://schema.org/Article">			
			<header>
				<div class="bulbul-article-cover">						
					<img src="{{post.image}}" alt=""/>
					<a href="{{ post.url }}">Read More</a>
				</div>
				<h1 class="bulbul-article-title" itemprop="headline">
					<a href="{{ post.url }}" rel="bookmark">
						{{post.title}}
					</a>
				</h1>					
				
				<div class="bulbul-article-tags ion-ios-grid-view-outline">
					{% for tag in post.tags %}
					<a href="{{site.baseurl}}{{tag | downcase}}.html">{{tag}}</a>
					{% endfor %}
				</div>	
			</header>
			<div class="bulbul-article-content" itemprop="articleBody">
				{{post.excerpt}}
			</div>			
			<footer class="bulbul-article-footer">
				<div class="bulbul-article-actions">
					<a href="{{post.url}}" class="bulbul-button bulbul-read-more">
						<span class="bulbul-hide-on-mobile">Read More</span>
						<span class="bulbul-hide-on-desktop">More</span>
						<span class="ion-ios-arrow-right"></span>
					</a>
					<div class="bulbul-social-share">
						<a class="bulbul-button bulbul-button-social bulbul-twitter ion-social-twitter-outline" target="_blank" title="Share this on Twitter" href="http://twitter.com/share?text={{post.title}}&url={{post.url}}"></a>

<a class="bulbul-button bulbul-button-social bulbul-facebook ion-social-facebook-outline" target="_blank" title="Share this on Facebook" href="http://www.facebook.com/sharer.php?u={{post.url}}"></a>

<a class="bulbul-button bulbul-button-social bulbul-google-plus ion-social-googleplus-outline" target="_blank" title="Share this on Google Plus" href="https://plus.google.com/share?url={{post.url}}"></a>					</div>
				</div>
				<hr>
				<time class="bulbul-article-info"  itemprop="datePublished">  {{post.date | date: ' %B %d,  %Y'}} by <a href="{{post.author_url}}">{{post.author}}</a></time>					
			</footer>
		</article>
	{% endfor %}

	</div>

	<div class="bulbul-articles-column bulbul-hide-on-mobile">
     {% for post in paginator.posts %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
       {% if thecycle == 'odd' %}
		<article class="bulbul-article  post {% for tag in post.tags %}tag-{{tag |}}{% endfor %}" role="article" itemscope itemtype="http://schema.org/Article">				
			<header class="article-header">
				<div class="bulbul-article-cover">						
					<img src="{{post.image}}" alt=""/>
					<a href="{{post.url}}">Read More</a>
				</div>
				<h1 class="bulbul-article-title" itemprop="headline">
					<a href="{{post.url}}" rel="bookmark">
						{{post.title}}
					</a>
				</h1>					
				<div class="bulbul-article-tags ion-ios-grid-view-outline">
					{% for tag in post.tags %}
					<a href="{{site.baseurl}}{{tag | downcase}}.html">{{tag}}</a>
					{% endfor %}
				</div>	
			</header>
			<div class="bulbul-article-content" itemprop="articleBody">
				{{post.excerpt}}
			</div>			
			<footer class="bulbul-article-footer">
				<div class="bulbul-article-actions">
					<a href="{{post.url}}" class="bulbul-button bulbul-read-more">
						<span class="bulbul-hide-on-mobile">Read More</span>
						<span class="bulbul-hide-on-desktop">More</span>
						<span class="ion-ios-arrow-right"></span>
					</a>
					<div class="bulbul-social-share">
						<a class="bulbul-button bulbul-button-social bulbul-twitter ion-social-twitter-outline" target="_blank" title="Share this on Twitter" href="http://twitter.com/share?text={{post.title}}&url={{post.url}}"></a>

<a class="bulbul-button bulbul-button-social bulbul-facebook ion-social-facebook-outline" target="_blank" title="Share this on Facebook" href="http://www.facebook.com/sharer.php?u={{post.url}}"></a>

<a class="bulbul-button bulbul-button-social bulbul-google-plus ion-social-googleplus-outline" target="_blank" title="Share this on Google Plus" href="https://plus.google.com/share?url={{post.url}}"></a>					</div>
				</div>
				<hr>
				<time class="bulbul-article-info"  itemprop="datePublished">  {{post.date | date: ' %B %d,  %Y'}} by <a href="{{post.author_url}}">{{post.author}}</a></time>					
			</footer>
		</article>
    {% endif %}
    {% endfor %} 		

	</div>

</div>			

<div class="bulbul-pagination">
	<nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 2</span>
    {% if paginator.previous_page_path %}
        <a class="older-posts" href="{{paginator.previous_page_path}}">&larr;Older Posts&nbsp;&nbsp;</a>
    {% endif %}
    {% if paginator.next_page_path %}
        <a class="newer-posts" href="{{paginator.next_page_path}}">Newer Posts&rarr;</a>
    {% endif %}
</nav>
</div>

	<footer class="bulbul-footer">
	<p>Copyright © <a href="{{site.url}}">{{site.title}}</a> 2015 • All rights reserved.</p>
	<p>Proudly published with Jekyll.</p>
</footer></main>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63925826-1', 'auto');
  ga('send', 'pageview');

</script>

    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js?v=070bb35e4d"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js?v=070bb35e4d"/></script>
<script type="text/javascript">

!function e(t,n,r){function s(o,u){if(!n[o]){if(!t[o]){var a="function"==typeof require&&require;if(!u&&a)return a(o,!0);if(i)return i(o,!0);throw new Error("Cannot find module '"+o+"'")}var f=n[o]={exports:{}};t[o][0].call(f.exports,function(e){var n=t[o][1][e];return s(n?n:e)},f,f.exports,e,t,n,r)}return n[o].exports}for(var i="function"==typeof require&&require,o=0;o<r.length;o++)s(r[o]);return s}({1:[function(require,module,exports){function load(location,callback){var xhr=window.XMLHttpRequest?new XMLHttpRequest:new ActiveXObject("Microsoft.XMLHTTP");xhr.open("GET",location,!0),xhr.onreadystatechange=function(){if(200==xhr.status&&4==xhr.readyState)try{callback(null,JSON.parse(xhr.responseText))}catch(err){callback(err,null)}},xhr.send()}module.exports={load:load}},{}],2:[function(require,module,exports){function FuzzySearchStrategy(){function fuzzyRegexFromString(string){return new RegExp(string.split("").join(".*?"),"gi")}this.matches=function(string,crit){return"string"!=typeof string?!1:(string=string.trim(),!!fuzzyRegexFromString(crit).test(string))}}module.exports=new FuzzySearchStrategy},{}],3:[function(require,module,exports){function LiteralSearchStrategy(){this.matches=function(string,crit){return"string"!=typeof string?!1:(string=string.trim(),string.toLowerCase().indexOf(crit.toLowerCase())>=0)}}module.exports=new LiteralSearchStrategy},{}],4:[function(require,module,exports){function search(data,crit){return crit?findMatches(data,crit,opt.searchStrategy,opt):[]}function setOptions(_opt){opt=_opt||{},opt.fuzzy=_opt.fuzzy||!1,opt.limit=_opt.limit||10,opt.searchStrategy=require(_opt.fuzzy?"./SearchStrategies/fuzzy":"./SearchStrategies/literal")}function findMatches(store,crit,strategy,opt){for(var matches=[],data=store.get(),i=0;i<data.length&&matches.length<opt.limit;i++){var match=findMatchesInObject(data[i],crit,strategy,opt);match&&matches.push(match)}return matches}function findMatchesInObject(obj,crit,strategy,opt){for(var key in obj)if(!isExcluded(obj[key],opt.exclude)&&strategy.matches(obj[key],crit))return obj}function isExcluded(term,excludedTerms){var excluded=!1;excludedTerms=excludedTerms||[];for(var i=0;i<excludedTerms.length;i++){var excludedTerm=excludedTerms[i];!excluded&&new RegExp(term).test(excludedTerm)&&(excluded=!0)}return excluded}var opt={};opt.fuzzy=!1,opt.limit=10,opt.searchStrategy=require(opt.fuzzy?"./SearchStrategies/fuzzy":"./SearchStrategies/literal"),module.exports={search:search,setOptions:setOptions}},{"./SearchStrategies/fuzzy":2,"./SearchStrategies/literal":3}],5:[function(require,module,exports){function put(data){return isObject(data)?addObject(data):isArray(data)?addArray(data):void 0}function clear(){return store.length=0,store}function get(){return store}function isObject(obj){return!!obj&&"[object Object]"==Object.prototype.toString.call(obj)}function isArray(obj){return!!obj&&"[object Array]"==Object.prototype.toString.call(obj)}function addObject(data){return store.push(data),data}function addArray(data){for(var added=[],i=0;i<data.length;i++)isObject(data[i])&&added.push(addObject(data[i]));return added}module.exports={put:put,clear:clear,get:get};var store=[]},{}],6:[function(require,module,exports){function setOptions(_opt){opt=_opt||{},opt.templatePattern=_opt.templatePattern||/\{(.*?)\}/g}function render(t,data){return t.replace(opt.templatePattern,function(match,prop){return data[prop]||match})}module.exports={render:render,setOptions:setOptions};var opt={};opt.templatePattern=/\{(.*?)\}/g},{}],7:[function(require,module,exports){!function(window,document,undefined){"use strict";function initWithJSON(json){store.put(opt.json),registerInput()}function initWithURL(url){jsonLoader.load(url,function(err,json){err?throwError("failed to get JSON ("+url+")"):(store.put(json),registerInput())})}function throwError(message){throw new Error("SimpleJekyllSearch --- "+message)}function validateOptions(_opt){for(var i=0;i<requiredOptions.length;i++){var req=requiredOptions[i];_opt[req]||throwError("You must specify a "+req)}var ret=_opt;for(var option in opt)ret[option]=_opt[option]||opt[option];return ret}function isJSON(json){try{return json instanceof Object&&JSON.parse(JSON.stringify(json))}catch(e){return!1}}function emptyResultsContainer(){opt.resultsContainer.innerHTML=""}function appendToResultsContainer(text){opt.resultsContainer.innerHTML+=text}function registerInput(){opt.searchInput.addEventListener("keyup",function(e){return 0==e.target.value.length?void emptyResultsContainer():void render(searcher.search(store,e.target.value))})}function render(results){if(emptyResultsContainer(),0==results.length)return appendToResultsContainer(opt.noResultsText);for(var i=0;i<results.length;i++)appendToResultsContainer(templater.render(opt.searchResultTemplate,results[i]))}var searcher=require("./Searcher"),templater=require("./Templater"),store=require("./Store"),jsonLoader=require("./JSONLoader"),requiredOptions=["searchInput","resultsContainer","json"],opt={searchInput:null,resultsContainer:null,json:[],searchResultTemplate:'<li><a href="{url}" title="{desc}">{title}</a></li>',noResultsText:"No results found",limit:10,fuzzy:!1,exclude:[]};window.SimpleJekyllSearch=function(_opt){opt=validateOptions(_opt),searcher.setOptions(_opt),isJSON(opt.json)?initWithJSON(opt.json):initWithURL(opt.json)},window.SimpleJekyllSearch.init=window.SimpleJekyllSearch}(window,document)},{"./JSONLoader":1,"./Searcher":4,"./Store":5,"./Templater":6}]},{},[7]);

SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  searchResultTemplate: '<p><a href="{url}">{title}</a></p>',
  json: '/search.json',
})
</script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js?v=070bb35e4d"></script>
    <script type='text/javascript' src="{{site.baseurl}}public/js/custom.js?v=070bb35e4d"></script>
    <!--<script type='text/javascript' src="{{site.baseurl}}public/js/syntax.js"></script>-->


    <style type="text/css">
	/* Alizarin */
	.bulbul-alizarin .colorpicker {
	  background: #e74c3c;
	}
	.bulbul-alizarin .colorpicker-message {
	  color: #e74c3c;
	}
	
	/* Belize Hole */
	.bulbul-belize-hole .colorpicker {
	  background: #2980b9;
	}
	.bulbul-belize-hole .colorpicker-message {
	  color: #2980b9;
	}

	/* Wisteria */
	.bulbul-wisteria .colorpicker {
	  background: #8e44ad;
	}
	.bulbul-wisteria .colorpicker-message {
	  color: #8e44ad;
	}

	/* Pumpkin */
	.bulbul-pumpkin .colorpicker {
	  background: #d35400;
	}
	.bulbul-pumpkin .colorpicker-message {
	  color: #d35400;
	}

	/* Green Sea */
	.bulbul-green-sea .colorpicker {
	  background: #16a085;
	}
	.bulbul-green-sea .colorpicker-message {
	  color: #16a085;
	}

	/* Asbestos */
	.bulbul-asbestos .colorpicker {
	  background: #7f8c8d;
	}
	.bulbul-asbestos .colorpicker-message {
	  color: #7f8c8d;
	}

	/* General styles */
	.colorpicker {
	  width: 2rem;
	  height: 2rem;
	  border-radius: 100%;
	  position: fixed;
	  top: 2rem;
	  right: 2rem;
	  z-index: 999;
	  cursor: pointer;
	  -webkit-transition: 0.2s ease;
	  -moz-transition: 0.2s ease;
	  -o-transition: 0.2s ease;
	  transition: 0.2s ease;
	}
	.colorpicker div {
	  width: 100%;
	  height: 100%;
	  line-height: 2rem;
	  font-size: 1.5rem;
	  text-align: center;
	  color: #fff;
	  /* Chrome, Safari, Opera */
	  -webkit-animation-name: bounce;
	  -webkit-animation-duration: .8s;
	  -webkit-animation-timing-function: linear;
	  -webkit-animation-iteration-count: infinite;
	  -webkit-animation-play-state: running;
	  /* Standard syntax */
	  animation-name: bounce;
	  animation-duration: .8s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	  animation-play-state: running;
	}
	@-webkit-keyframes bounce {
	  0% {
	    line-height: 1.7rem;
	  }
	  50% {
	    line-height: 2.3rem;
	  }
	  100% {
	    line-height: 1.7rem;
	  }
	}
	/* Standard syntax */
	@keyframes bounce {
	  0% {
	    line-height: 1.7rem;
	  }
	  50% {
	    line-height: 2.3rem;
	  }
	  100% {
	    line-height: 1.7rem;
	  }
	}
	.colorpicker-message {
	  padding-top: 10%;
	  font-size: 5rem;
	  background: rgba(255, 255, 255, 0.9);
	  position: fixed;
	  text-align: center;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: -100;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transition: 0.2s ease;
	  -moz-transition: 0.2s ease;
	  -o-transition: 0.2s ease;
	  transition: 0.2s ease;
	}
	.colorpicker-message.active {
	  visibility: visible;
	  z-index: 100;
	  opacity: 1;
	}

	@media (max-width: 768px) {
		.colorpicker {
			top: 1rem;
		}

		.colorpicker-message {
			padding-top: 40%;
		}
	}
</style>



<div class="colorpicker">
	<div class="ion-ios-analytics"></div>
</div>

<div class="colorpicker-message"></div>

<script type="text/javascript">
	(function ($) {
		var colors = ["Alizarin", "Beilze Hole", "Wisteria", "Pumpkin", "Green Sea", "Asbestos"];
		var classes = ["bulbul-alizarin", "bulbul-belize-hole", "bulbul-wisteria", "bulbul-pumpkin", "bulbul-green-sea", "bulbul-asbestos"];
		$(document).ready(function() {
			if(!localStorage['theme']) { localStorage['theme'] = 1;}
				$('body').removeClass(classes.join(' ')).addClass(classes[localStorage['theme']]);
			});
			$('.colorpicker').on('click', function() {
				localStorage['theme'] = (parseInt(localStorage['theme']) + 1)%colors.length;
				$('body').removeClass(classes.join(' ')).addClass(classes[localStorage['theme']]);
				$('.colorpicker-message').html(colors[localStorage['theme']]).addClass('active');
				setTimeout(function() {
					$('.colorpicker-message').removeClass('active');
				}, 700);
		});
	})(jQuery);
</script></body>
</html>